{% if section.settings.enabled %}
 <header>
    <div class="alert">
        <div class="container">
          <div class="slider-wrapper">
             <div class="alert-text" id="text1"><p>Members: Free Shipping!</p></div>
             <div class="alert-text" id="text2"><p>Save Up to 40%</p></div>
             <div class="alert-text" id="text3"><p>Get your Gear Faster</p></div>
          </div>
            {% comment %} <p class="alert-text">Free Shipping On All U.S. Orders $50+</p> {% endcomment %}
        </div>
    </div>
 </header>
{% endif %}

<style>
  .alert{
    background-color:{{section.settings.background}};
    color:{{section.settings.text_color}};
  }
  .slider-wrapper {
    position: relative;
    width: 100%; /* Or a specific width */
    height: 200px; /* Or a specific height */
    overflow: hidden; /* To hide the sliding elements when out of bounds */
  }
  
  .text {
    position: absolute;
    width: 100px; /* Adjust based on your content */
    height: 50px; /* Adjust based on your content */
    top: 50%; /* Center vertically */
    left: 50%; /* Start at the middle */
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0; /* Start hidden */
  }
  
  .text.active {
    opacity: 1; /* Fade in when active */
  }
  
  .text.enter {
    transform: translate(-50%, -50%) scale(1.2); /* Start with a scale-up effect */
    opacity: 0;
  }
  
  .text.middle {
    transform: translate(-50%, -50%) scale(1); /* Normal size at the middle */
    opacity: 1;
  }
  
  .text.exit {
    transform: translate(150%, -50%) scale(1.2); /* Slide out to the right */
    opacity: 0;
  }
  
  
</style>
<script>
  document.addEventListener('DOMContentLoaded', function(){
    const text1 = document.getElementById('text1');
    const text2 = document.getElementById('text2');
    const text3 = document.getElementById('text3')

    const texts = [text1, text2, text3]
    let currentIndex = 0;
 
   function slideToMiddle(element){
     element.style.left = '40%'
   }
   
   function resetPosition(element){
     element.style.left = '-100%'
   }

   function slideText(){
     resetPosition(texts[currentIndex])
     currentIndex = (currentIndex + 1) % texts.length
     slideToMiddle(texts[currentIndex])
   }

   slideToMiddle(texts[currentIndex])
   
   setInterval(slideText, 3000)

 })
</script>
{% schema %}
{
  "name": "announcement-bar",
  "settings": [
    {
     "type": "checkbox",
     "id": "enabled",
     "label": "Enable Announcement Bar",
     "default": true
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#000000"
     },
     {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#F4F4F4"
     }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "announcement-bar"
    }
  ]
}
{% endschema %}