 <!--FEATURE-->
 {% comment %} data-section {% endcomment %}
<section class="section feature" aria-label="feature" >
    <div class="container">
        <h2 class="h2-large section-title">Why Shop with Shoehive</h2>
        <ul class="flex-list">
          <li class="flex-item">
            <div class="feature-card">
              <ion-icon name="bag-check-outline" alt="Quaranteed PURE" class="card-icon" style="font-size: 5rem;"  width="404" height="236" loading="lazy"></ion-icon>
              <h3 class="h3 card-title">Seamless Shopping</h3>
               <p class="card-text">
                Shopping for your favorite sneakers is easy—browse our extensive collection, choose your perfect pair, and enjoy a seamless shopping experience.
               </p>
             </div>
          </li>
          <li class="flex-item">
            <div class="feature-card">
              <ion-icon name="card-outline"  alt="Completely Cruelty-Free" class="card-icon" style="font-size: 5rem;" width="204" height="236" loading="lazy"></ion-icon>
                 <h3 class="h3 card-title">Secure Payments</h3>
                  <p class="card-text">
                    Checkout is quick and secure with various payment options, ensuring a smooth purchase so you can focus on getting the best sneakers.
                  </p>
             </div>
          </li>
          <li class="flex-item">
            <div class="feature-card"> 
              <ion-icon name="paper-plane-outline" alt="Ingredient Sourcing" class="card-icon" style="font-size: 5rem;" width="204" height="236" loading="lazy"></ion-icon>
                <h3 class="h3 card-title">Fast and Reliable Delivery</h3>
                <p class="card-text">
                  Our efficient delivery process ensures your sneakers arrive quickly and securely, whether it's the latest Nike release or classic Adidas kicks.
                </p>
            </div>
          </li>
        </ul>
    </div>
</section>


{% schema %}
{
  "name": "feature",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "feature"
    }
  ]
}
{% endschema %}