 <!--FEATURE-->
<section class="section feature" aria-label="feature" data-section>
    <div class="container">
        <h2 class="h2-large section-title">Why Shop with Shoehive</h2>
        <ul class="flex-list">
          <li class="flex-item">
            <div class="feature-card">
              <ion-icon name="bag-check-outline" alt="Quaranteed PURE" class="card-icon" style="font-size: 5rem;"  width="404" height="236" loading="lazy"></ion-icon>
              <h3 class="h3 card-title">Quaranteed PURE</h3>
               <p class="card-text">
                 All Grace formulations adhere to strict purity standards and will never contain harsh or toxic ingredients
                </p>
             </div>
          </li>
          <li class="flex-item">
            <div class="feature-card">
              <ion-icon name="card-outline"  alt="Completely Cruelty-Free" class="card-icon" style="font-size: 5rem;" width="204" height="236" loading="lazy"></ion-icon>
                 <h3 class="h3 card-title">Completely Cruelty-Free</h3>
                  <p class="card-text">
                    All Grace formulations adhere to strict purity standards and will never contain harsh or toxic ingredients
                  </p>
             </div>
          </li>
          <li class="flex-item">
            <div class="feature-card"> 
              <ion-icon name="paper-plane-outline" alt="Ingredient Sourcing" class="card-icon" style="font-size: 5rem;" width="204" height="236" loading="lazy"></ion-icon>
                <h3 class="h3 card-title">Ingredient Sourcing</h3>
                <p class="card-text">
                    All Grace formulations adhere to strict purity standards and will never contain harsh or toxic ingredients
                </p>
            </div>
          </li>
        </ul>
    </div>
</section>


{% schema %}
{
  "name": "feature",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "feature"
    }
  ]
}
{% endschema %}