
 <section class="section hero" id="home" aria-label="hero" data-section>
    <div class="container">
        <ul class="has-scrollbar">
            <li class="scrollbar-item">
                <div class="hero-card has-bg-image" style="background-image: url('./assets/images/shoe8.jpg');">
                    <div class="card-content">
                        <h1 class="h1 hero-title">
                            Reveal The <br/>
                            Beauty of Skin
                         </h1>
                         <p class="hero-text">
                            Made using clean, non-toxic ingredients, our products are designed for everyone.
                         </p>
                         <p class="price"> Starting at $7.99</p>
                         <a href="#" class="btn btn-primary">Shop Now</a>
                      </div>
                    </div>
                 </li>
                 <li class="scrollbar-item">
                    <div class="hero-card has-bg-image" style="background-image: url('./assets/images/shoes.jpg');">
                      <div class="card-content">
                         <h1 class="h1 hero-title">
                            Reveal The <br/>
                            Beauty of Skin
                         </h1>
                         <p class="hero-text">
                            Made using clean, non-toxic ingredients, our products are designed for everyone.
                         </p>
                         <p class="price"> Starting at $7.99</p>
                         <a href="#" class="btn btn-primary">Shop Now</a>
                      </div>
                    </div>
                 </li>
                 <li class="scrollbar-item">
                    <div class="hero-card has-bg-image" style="background-image: url('./assets/images/shoes4.jpg'); background-attachment: fixed; background-size: cover;
                    background-repeat: no-repeat;
                    background-attachment: fixed; ">
                      <div class="card-content">
                         <h1 class="h1 hero-title">
                            Reveal The <br/>
                            Beauty of Skin
                         </h1>
                         <p class="hero-text">
                            Made using clean, non-toxic ingredients, our products are designed for everyone.
                         </p>
                         <p class="price"> Starting at $7.99</p>
                         <a href="#" class="btn btn-primary">Shop Now</a>
                      </div>
                    </div>
                 </li>
              </ul>
           </div>  
        </section>

 

<style>
/*-----------------------------------*\
    #HERO
  \*-----------------------------------*/
  .hero{padding-block-start:0;}
  
  .hero-card{
    background-color: var(--light-gray);
    padding:100px 15px;
    background-position: 40%;
  }
  
  .hero-text{
    font-size: var(--fs-6);
    margin-block: 16px 30px;
  }
  
  .hero .price{
    color:var(--black);
    font-size:var(--fs-5);
    font-weight: var(--fs-600);
    margin-block-end: 20px;
  }
  
  .hero .scrollbar-item {
    min-width: 100%;
  
  }
</style>

{% schema %}
{
  "name": "hero",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "hero"
    }
  ]
}
{% endschema %}