
 


     <section class="section collection" id="collection" >
        <div class="container">
          <ul class="collection-list">
              <li>
                  <div class="collection-card has-before hover:shine">
                      <h2 class="h2 card-title">Summer Collection</h2>
                      <p class="card-text">Starting at $17.99</p>
                      <a href="#" class="btn-link">
                          <span class="span">Shop Now</span>
                          <ion-icon name="arrow-forward" aria-hidden="true"> </ion-icon>
                      </a>
                      <div class="has-bg-image" style="background-image: url('{{ 'shoes4.jpg' | asset_url }}');">
    
                      </div>
                  </div>
              </li>
              <li>
                  <div class="collection-card has-before hover:shine">
                      <h2 class="h2 card-title">What's New?</h2>
                      <p class="card-text">Get the glow</p>
                      <a href="#" class="btn-link">
                          <span class="span">Discover Now</span>
                          <ion-icon name="arrow-forward" aria-hidden="true"> </ion-icon>
                      </a>
                      <div class="has-bg-image" style="background-image: url('{{ 'shoe13.jpg' | asset_url }}');">
    
                      </div>
                  </div>
              </li>
              <li>
                  <div class="collection-card has-before hover:shine">
                      <h2 class="h2 card-title">Buy 1 Get 1</h2>
                      <p class="card-text">Starting at $7.99</p>
                      <a href="#" class="btn-link">
                          <span class="span">Shop Now</span>
                          <ion-icon name="arrow-forward" aria-hidden="true"> </ion-icon>
                      </a>
                      <div class="has-bg-image" style="background-image: url('{{ 'sho1.jpg' | asset_url }}');">
    
                      </div>
                  </div>
              </li>
          </ul>
        </div> 
      </section>


<style>
/*-----------------------------------*\
  #SHOP
\*-----------------------------------*/
.shop .title-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    margin-block-end:50px;
  }
  
  .shop .btn-link:is(:hover, :focus){color: var(--hoockers-green);}
  
  .shop-card  .card-banner{
    position: relative;
    overflow: hidden;
  }
  .shop-card .badge{
    position: absolute;
    top:20px;
    left:20px;
  }
  
  
  
  .shop-card .card-actions{
      position: absolute;
      top: 50%;
      right:0;
      transform:translate(0, -50%);
      display: grid;
      gap:10px;
      opacity: 0;
      transition:var(--transition-2)
  }
  
  .shop-card .action-btn{
    background-color: var(--white);
    font-size: 24px;
    padding:12px;
    border-radius: 50%;
    transition: var(--transition-1);
  }
  
  
  .shop-card .action-btn:is(:hover, :focus){
    background-color: var(--black);
    color: var(--white);
  }
  
  
  .shop-card:is(:hover, :focus-within) .card-actions{
    opacity: 1;
    transform: translate(-20px, -50%);
  }
  
  .shop-card .card-content{
    padding-block: 20px;
    text-align: center;
  }
  
  .shop-card :is(.price, .card-rating, .rating-wrapper){
    display: flex;
    justify-content:center;
    align-items: center;
    gap:5px;
  }
  .shop-card .del{
    font-size: var(--fs-9);
    font-weight: var(--fw-400);
  }
  
  
  .shop-card .price .span{
    color: var(--black);
    font-weight: var(--fw-700);
  }
  
  .shop-card .card-title{
    color:var(--black);
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
    margin-block-end:8px;
    transition: var(--transition-1);
  }
  .shop-card .card-title:is(:hover, :focus){
    text-decoration: underline;
    color: var(--hoockers-green);
  }
  
  .shop-card .rating-wrapper{
    gap:2px;
    color: var(--hoockers-green);
    font-size: 15px;
  }
  
  .shop-card .rating-text{
    font-size: var(--fs-8); 
    font-weight: var(--fw-400);
    line-height: 1;
  }
/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/*
responsive for larger than 575px screen
*/
@media screen and (min-width: 575px) {
    /*
    REUSED STYLE
    */
    
    .container{
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
    
    :is(.header, .hero) .container{max-width: unset;}
    
    .has-scrollbar {gap: 30px;}
    
    .scrollbar-item{ min-width: calc(50% - 15px);}
    
    
    /*
    HEADER
    */
    
    .alert{
      padding-block: 8px;
    }
    
    .header-top .container {padding-inline:30px;}
    
    /*
    HERO
    */
    
    .hero-card {padding-inline: 70px;}
    
    .hero-text {max-width: 30ch;}
    
    
    /*
    BANNER
    */
    .banner-card .card-text { max-width: 30ch;}
    
    /*
    OFFER
    */
    
    .offer .countdown { --fs-2: 4.8rem;}
    
    .offer .countdown .time:not(:last-child)::after{
      margin-inline: 20px;
    }
    
    }
    
    
    /*
    responsive for larger than 768px screen
    */
    @media screen and (min-width: 768px) {
      /*
     CUSTOM PROPERTY
      */
    
      :root{
        /*
        typography
        */
        --fs-1: 5.6rem;
      }
    
      /*
      REUSED STYLE
      */
      
      .container{max-width: 730px;}
    
      .flex-item{max-width: calc(50% - 15px);}
    
    }
    
    
    /*
    responsive for larger than 992px screen
    */
    @media screen and (min-width: 992px) {
       /*
     CUSTOM PROPERTY
      */
    
      :root{
        /*
        spacing
        */
        --section-padding:50px;
      }
    
        /*
     REUSED STYLE
      */
    
      .container{max-width: 960px;}
    
      .scrollbar-item {min-width: calc(33.33% - 20px);}
    
      .flex-item {max-width: calc(33.33% - 20px);}
  
    
    /*
    responsive for larger than 1200px screen
    */
    @media screen and (min-width: 1200px) {
    
       /*
    REUSED STYLE
     */
    
     .container{max-width: 1300px;}
    
     .scrollbar-item {min-width: calc(20% - 24px);}
    
     .flex-item {max-width: calc(33.33% - 20px);}
    
     
}  
</style>

{% schema %}
{
  "name": "shop",
  "settings":[],
  "blocks": [],
  "presets": [
    {
      "name": "shop"
    }
  ]
}
{% endschema %}